  <div class="container mid-section">
    <div class="row">
      <div class="col-12 centered-text">
        <h2>Your guide to Summer Time Chicago free events!</h2>
      </div>
    </div>
  </div>

  <main class="container">
    <div class="row">
      <div class="col-12">  
        <h2>Sign Up to Checkout Cool Free Events</h2>
        <form method="post" action="/users/register">
          <input type="text" name="username" placeholder="Choose a Username" required />
          <br />
          <input type="password" name="password" placeholder="Choose a Password" required />
          <br />
          <input type="email" name="email" placeholder="Email" required />
          <br />
          <button type="submit">Submit</button>
          <br />
          Already have an account?<a href="/users/login">Log In</a>
        </form>
      </div>
    </div>
  </main>
