<div class="container mid-section">
  <div class="row">
    <div class="col-12 centered-text">
      <h2>Your guide to Summer Time Chicago free events!</h2>
     
        <button class="submit" type="submit"><a href="/login">Login</a></button>
        <button class="submit" type="submit"><a href="/register">Sign Up</a></button>
    
      <h4><%= message %></h4>
    </div>
  </div>
</div>


<main class="container">
  <div class="row">
    <div class="col-12 centered-text">
      <h2>Feautured Free Events In Chicago</h2>
      <div class="results-li"></div>
      <div id="results"></div>
    </div>
  </div>

</main>


