<!DOCTYPE html>
<html>
<head>
  <title>Summer in Chicago</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
 
<body>
  <header class="container">
    <div class="row">
      <div class="col-7 centered-text">
        <h1>Summer in Chicago</h1>
      </div>
      <nav class="col-5"> 
      <form method="/get" action="/events/">
        <ul>
          <li><button type="submit">My Events</button></li>
          <li><button type="submit">Create Event</button></li>
        </ul>
      </form>
        
      </nav>
    </div>
  </header>


  <%= yield %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script> 
  <script src="js/app.js"></script>
</body>
</html>
